@mixin animation-base() {
	animation-duration: .8s;
	animation-fill-mode: both;
}
.picpnts-fx-bounceInRight {
	@include animation-base;
	animation-name: picpnts-fx-bounceInRight;
}
@keyframes picpnts-fx-bounceInRight {
	from, 60%, 75%, 90%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
	from { opacity: 0; transform: translate3d(3000px, 0, 0); }
	60% { opacity: 1; transform: translate3d(-25px, 0, 0); }
	75% { transform: translate3d(10px, 0, 0); }
	90% { transform: translate3d(-5px, 0, 0); }
	to { transform: none; }
};
.picpnts-fx-bounceOutLeft {
	@include animation-base;
	animation-name: picpnts-fx-bounceOutLeft;
}
@keyframes picpnts-fx-bounceOutLeft {
	20% { opacity:1; transform:translate3d(20px, 0, 0); }
	to { opacity:0; transform:translate3d(-100%, 0, 0); }
};